{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}


    <div class="example-wrapper">
        <h1>Welcome to TodoList ✅</h1>
        <h2 class="home">A cool checklist app</h2>

        <p>Let's try ! Go to <a href="/login">sign-in/sign-up</a></p>

        <p class="advantage">His advantage : </p>
        <ul>
            <li>good accessibility</li>
            <li>be more productive</li>
            <li>easy to use</li>
        </ul>
    </div>
{% endblock %}